@import url("themes.css");
@import url("callout.css");

body {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11pt;
  background-color: #e5e5e5;
  color: #555;
  width: 100%;
  overflow: hidden;
}

input:focus, a:focus, button:focus, select:focus {
  outline: none !important;
}

.full-viewport {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
}

.custom-scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.custom-scroll::-webkit-scrollbar-thumb
{
  background-color: #969696;
}

.custom-scroll::after {
  display: none !important;
  content: '';
  visibility: hidden !important;
}

.grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.small-gutters.row .col-sm-1,
.small-gutters.row .col-sm-2,
.small-gutters.row .col-sm-3,
.small-gutters.row .col-sm-4,
.small-gutters.row .col-sm-5,
.small-gutters.row .col-sm-6,
.small-gutters.row .col-sm-7,
.small-gutters.row .col-sm-8,
.small-gutters.row .col-sm-9,
.small-gutters.row .col-sm-10,
.small-gutters.row .col-sm-11,
.small-gutters.row .col-sm-12 {
  padding-left: 5px;
  padding-right: 5px;
}

.prism-custom {
  background-color: #fdfdfd !important;
  padding: 5px;
  border-left: 5px solid #71c0df;
  border-top: 1px solid #bababa;
  border-right: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
}
.prism-custom span {
  font-family: Menlo, "Lucida Console" !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  border-color:#ccc !important;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.next-section {
  margin-top: 50px;
  border: 1px solid #dddddd;
  padding: 10px 25px 5px 25px;
  border-radius: 2px;
  color: #4d4d4d;
}

.next-section:hover {
  background-color: #07d0ff;
  color: #fff;
  text-decoration: none;
}

.next-section span {
  font-size: 0.8em;
}

.next-section h4 {
  margin-top: 5px;
  text-align: left;
}

.whiteout {
  filter: brightness(0) invert(1);
}

.blackout {
  filter: brightness(0);
}

.menu-nav-content {
  min-width: 220px;
}

.mono {
  font-family: monospace;
  font-size: 1em !important;
}

.api-class a {
  color:#3f87a6;
}

.bordered {
  border: 1px solid rgb(236, 235, 235);
}